<div class="card rounded-0 mb-3">
    <div class="card-header comment-header rounded-0 px-4 d-flex justify-content-between align-items-center">
        <h5 class="m-0 d-flex align-items-end"><strong>{{user.username}}</strong> <span><p>&nbsp;Commented</p></span></h5>
        <p class="px-2 m-0">on {{format_date created_at}}</p>
    </div>
    <div class="card-body comment-body px-4">
        <p>{{comment_text}}</p>
    </div>
</div>